@import '../../../constant.css';

.modal-container {
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-modal {
  background-color: var(--bs-gray-100);
  border-radius: 12px;
  display: flex;
  width: 830px;
  height: 433px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-modal-add-edit {
  display: flex;
  padding: 22px;
  margin-top: 12px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-between;
}

.header-modal-add-edit h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;

  font-size: 18px;
  /* identical to box height */

  color: #111111;
}
