@import '../../../constant.css';

.card-todo {
  width: 230px;
  height: 234px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  padding: 22px 27px;
  box-sizing: border-box;
  margin-bottom: 26px;
  position: relative;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.card-todo:hover {
  cursor: pointer;
}

.card-todo h3:hover {
  cursor: pointer;
  color: aqua;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-todo-date {
  color: var(--bs-gray-500);
  font-weight: 600;
}
