@import url('../../../constant.css');

.header-content {
  display: flex;
  gap: 16px;
  align-items: center;
}

.title {
  font-size: '46px';
  font-weight: 500;
  font-size: 36px;
  color: black;
  font-weight: 700;
}
.input-title {
  font-size: '46px';
  font-weight: 500;
  height: 100%;
}

.input-title {
  background-color: transparent;
  border: 0px;
  font-size: 36px;
  color: black;
  font-weight: 700;
  border-bottom: 1px solid;
  max-width: 583px;
}

input:focus {
  outline: none;
}

.header-wrapper {
  display: flex;
  margin-top: '2px';
  justify-content: space-between;
  align-items: center;
}

.sort-btn {
  background: #e5e5e5;
  width: 54px;
  height: 54px;
  border: 1px solid #e5e5e5;
  border-radius: 45px;
}
